@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.section {
    width: 1160px;
    margin: 0 auto;

}


button,
button:focus,
button:active,
button:hover {
    border: none;
}

.header {
    background-image: url("/img/sections/section-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(94, 93, 88, 0.6);
    pointer-events: none;
    z-index: 0;
    height: 100px;
}



.header-wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
}

.header-logo-wrapper {
    position: relative;
    display: inline-block;

}

.header-logo-item {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

}

.header-logo-wrapper:after {
    content: 'H';
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 700;
    pointer-events: none;
}

.header-text {
    margin-left: 5px;
    font-size: 32px;
    color: #fff;
}

.header-text-link {
    text-decoration: none;
    color: #fff;
}

.header-span {
    color: #18CFAB;
    font-weight: 700;
}

.header-links {
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.search {
    position: relative;
    z-index: 1;
}

.header-menu {
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s ease;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    position: relative;
    font-size: 16px;
}

.header-menu:hover {
    color: #18CFAB;
}
.title-item {
    text-align: center;
    padding-bottom: 240px;
}


.header-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    color: #fff;
    padding: 10px;
}

.header-subtitle {
    font-size: 35px;
}

.header-title-text {
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
    margin-bottom: 130px;
}

.header-buttons {
    display: flex;
    justify-content: center;
}

.header-btn {
    text-transform: uppercase;
    width: 170px;
    height: 63px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: .2s ease;

}

.header-btn:hover {
    background-color: #19ad94;

}

.header-btn-wrapper {
    position: relative;
    display: inline-block;
}

.header-btn-background {
    width: 168px;
    height: 63px;
    position: absolute;
    content: '';
    background-color: #fff;
    right: 0;
    top: 0;
    transform: translate(-16%, -8%);
    border-radius: 5px;
}

.header-btn-background-second {
    width: 168px;
    height: 63px;
    position: absolute;
    content: '';
    background-color: #fff;
    right: 0;
    top: 0;
    transform: translate(-1%, -8%);
    border-radius: 5px;
}

.green-header {
    background: #18CFAB;
    margin-right: 26px;
}

.blue-header {
    background: #00CBF6;
}

.blue-header:hover {
    background: #14acd0;
}

/*Subheader section*/

.main {
    padding-top: 10px;
}

.subheader-wrapper {
    display: flex;
}

.subheader-blue-item {
    background-color: #1C2A33;
    z-index: 0;
    position: relative;
    width: 25%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subheader-green-item {
    background-color: #18CFAB;
    width: 25%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.subheader-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding-top: 50px;
}
.subheader-text-green {
    color:#18CFAB;
    padding-top: 30px;
}

.title {
    padding-top: 90px;
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.title:before {
    border-bottom: 1px solid #18CFAB;
    width: 75px;
    content: '';
    position: absolute;
    top: 60px;
    left: 49%;
    transform: translate(-40%, 90px);
}

.title:after {
    border-bottom: 1px solid #18CFAB;
    width: 75px;
    content: '';
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translate(-40%, 90px);
}

.services-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8FCFE;
    height: 72px;
    padding: 60px 0;
}

.services-item {
    margin-top: 65px;
    width: 194px;
    padding: 27px 0;
    text-align: center;
    color: #717171;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .2s ease;
}

.services-item:hover {
    border: 1px solid #18CFAB;
}

.active {
    background-color: #18CFAB;
    border: 1px solid transparent;
    position: relative;
    color: #fff;
    transition: .1s ease;
}

.active:after {
    width: 27px;
    height: 27px;
    content: '';
    position: absolute;
    top: 70%;
    right: 42%;
    background-color: #18CFAB;
    transform: rotate(45deg);
}

.subservices-wrapper {
    display: flex;
    padding-bottom: 90px;
}

.services-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin: 0;
}

.services-img {
    padding-right: 15px;
    max-height: 140px;
}

/*Every*/

.every-wrapper {
    background: url("/img/sections/section-2.jpg") no-repeat;
    background-size: cover;
    position: relative;

}

.every-center {
    text-align: center;
}

.every-wrapper:before {
    content: '';
    background-color: #000000;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;

}

.every-title {
    padding-top: 125px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}

.every-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 60px;
    z-index: 1;
    position: relative;
}

.every-btn {
    margin-bottom: 125px;
}
/*Amazing section*/

.amazing-section {
    margin: 0 auto;
    width: 1140px;
    overflow: auto;
}

.amazing-wrapper {
    background: #E9EDEF;
}

.amazing-items {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.amazing-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
    transition: .2s ease;
    cursor: pointer;
    padding: 7px 15px;
}

.amazing-item:hover {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.image-item {
    position: relative;
    transition: .2s ease;
}

.creative-item {
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.amazing-images {
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

.amazing-img,
.creative-item {
    position: relative;
    border-top: 1px solid transparent;
    transition: .5s ease;
}
.amazing-img:hover,
.creative-item:hover{
    border-top: 1px solid #18CFAB;
}

.load-more {
    display: block;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    background-color: #18CFAB;
    width: 168px;
    text-align: center;
    height: 63px;
    padding-left: 30px;
    border-radius: 5px;
    margin: 0 auto 100px;
    transition: .2s ease;
}

.load-more:hover {
    background-color: #19ad94;
}

.load-more:before {
    content: '';
    position: absolute;
    background-image: url("/img/vector.svg");
    width: 16px;
    height: 18px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.creative-item {
    padding-top: 40px;
    text-align: center;
    transition: .2s ease;
}
.circles {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.circle {
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: .2s ease;
}

.circle:first-child {
    margin-right: 3px;
}

.amazing-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
}

.amazing-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.second-circle:hover,
.first-circle:hover
{
    border: 1px solid transparent;
    background-color: #18CFAB;
}

.square,
.chain {
    fill: #18CFAB;
    transition: .2s ease;
}

.second-circle:hover .square,
.first-circle:hover .chain {
    fill: #fff;
}

/* News */

.grid-news-wrapper {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

.news-item {
    position: relative;
    max-width: 264px;
}

.little-news-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 192px;
    background: #203E38;
    width: 70px;
    height: 70px;
    transition: .2s ease;
    text-decoration: none;
}

.news-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    text-align: center;
    transition: .2s ease;

}

.news-subtext {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;
    color: #777777;
    padding-bottom: 42px;
}

.new-link {
    text-decoration: none;
}

.news-span:before {
    content: '|';
    margin: 0 15px 0 15px;
}

.news-item:hover .news-subtitle {
    color: #18CFAB;
}

.news-item:hover .little-news-item {
    background: #18CFAB;
}
/* People Section */

.people-wrapper {
    background-image: url("/img/sections/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    position: relative;
    padding-bottom: 100px;
}

.people-wrapper:before {
    content: '';
    background-color: #000000;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.people-title {
    color: #fff;
    margin-bottom: 100px;
}

.people-center {
    text-align: center;

}

.shape-img {
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
}

.people-text {
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    position: relative;
    z-index: 1;
}

.people-subtext {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

.people-span {
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.people-images {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.img-people:last-child {
    margin-right: 0;

}

.big-img {
    margin: 0;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.slider-for {
    margin-bottom: 50px;
}

.slider-img {
    border-radius: 50%;
    position: relative;
    z-index: 1;
    border: 10px solid rgba(31,218,181, 0.2);
    width: 140px;
    height: 140px;
    margin-top: 10px;
}

.slider-nav img {
    border: 5px solid rgba(31,218,181, 0.2);
}

.little {
    width: 60px;
    height: 60px;
}

.slider-wrapper { /* Это новый стиль для обёртки */
    position: relative;
}

.slider-wrapper .slick-next, /* Изменено */
.slider-wrapper .slick-prev { /* Изменено */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider-wrapper .slick-next { /* Изменено */
    right: -15px;
}

.slider-wrapper .slick-prev { /* Изменено */
    left: -15px;
}

.slick-item {
    border: 1px solid #BBBBBB;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}


.arr-img {
    fill: #BBBBBB;
}

.slick-item:hover {
    background-color: #18CFAB;
}

.slick-item:hover .arr-img {
    fill: #ffffff;
}

.slider-nav {
    transition: .2s ease;
}

/*Footer */

.footer {
    background: #22353F;
}

.footer-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    color: #AEAEAE;
    padding: 48px 0;
}


















